h1 {
	text-align : center;
	color : purple;
}

body {
	background-color : lightgray;
	color : green;
}

p {
	text-align : center;
	color : blue;
}

.project {
    width : 300px;
    float : left;
    height : 600px;
    background : gray;
    margin : 40px;
}

.aboutme {
    height : 500px;
}

section {
    width : 100%;
    height : 1000px;
}

img {
    width : 100%;
}