html {
    scroll-behavior : smooth;
}

h1 {
	text-align : center;
	color : purple;
}

body {
	background-color : lightgray;
	color : black;
}

p {
    text-align : left;
}

button {
    float : right;
}

.project {
    width : 300px;
    float : left;
    height : 600px;
    background : gray;
    margin : 10px;
}

.aboutme {
    height : 500px;
}

.tContents {
    height : 50px;
}

section {
    width : 100%;
    height : 700px;
}

.pImage {
    width : 100%;
    height : 200px;
}

img {
    width : 100%;
    height : 100%;
}

.slide {
    margin-left : auto;
    margin-right : auto;
    width : 50%;
    height : 500px;
}

.slideShow {
    height : 500px;
}

[data-component="slideshow"] .slide {
    display: none;
  }

[data-component="slideshow"] .slide.active {
    display: block;
  }

.contactInfo {
    text-align : center;
}